<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Sex</th>
    <th>Color</th>
    <th>Birthday</th>
    <th>Age</th>
  </tr>
  <tr>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.age %> </td>

  </tr>
</table>

<p> <%= @cat.description %> </p>

<%= link_to "See all Cats", cats_url %>
