<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Sex</th>
    <th>Color</th>
    <th>Birthday</th>
    <th>Age</th>
  </tr>
  <tr>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.age %> </td>

  </tr>
</table>

<p> <%= @cat.description %> </p>

<h2>Rental Requests:</h2>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Manage</th>
  </tr>
  <%= render @rentals %>
</table>

<br>


<%= link_to "Edit Kitty", edit_cat_url(@cat) %>
<br>
<%= link_to "See all Cats", cats_url %>
